.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgb(218,184,45);
  margin: 16px 28px 16px 0;
  float: left;
}

.layoutAnt{
  height: 100vh;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: auto;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide img {
  width: 100%;
  height: 500px;
  margin-bottom: 0;
}

